@font-face {
    font-family: "MagmaWave";
    src: url("/fonts/MagmaWaveCaps.otf");
}

body {
    background-image: url('/images/background-division.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: 'Marcellus SC', serif;

    color: $body-color;
}

.footer {
    padding: 20px 0;
	border-top: 1px solid #d9d3c3;
	color: #fff;
}