
@mixin transform($arguments) {
  -webkit-transform: $arguments;
     -moz-transform: $arguments;
      -ms-transform: $arguments;
       -o-transform: $arguments;
          transform: $arguments;
}

@mixin animation($arguments) {
	-webkit-animation: $arguments;
	   -moz-animation: $arguments;
		 -o-animation: $arguments;
			animation: $arguments;
}

@mixin ma-button-variant($color, $background) {
   text-decoration: none;
   color: $color;
   background-color: $background;

   &:hover,
   &:focus,
   &:active {
       color: $color;
       background-color: darken($background, 5%);
   }
}

@mixin toast-variant($background, $border, $color) {
   --#{$prefix}toast-color: #{$color};
   --#{$prefix}toast-bg: #{$background};
   --#{$prefix}toast-border-color: #{$border};
}