.modal-actions {
    display: flex;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.ma {
    font-weight: bold;
    text-align: center;
}

.ma-btn {
    float: left;
    width: 50%;
    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: #F1F1F1;

    &:first-child {
        border-bottom-left-radius: $border-radius;
    }

    &:last-child {
        border-bottom-right-radius: $border-radius;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        background-color: #666;
    }
}

.ma-btn-primary {
     @include ma-button-variant(color-contrast($primary), $primary);
}

.ma-btn-secondary {
     @include ma-button-variant(color-contrast($secondary), $secondary);
}

.ma-btn-success {
     @include ma-button-variant(color-contrast($success), $success);
}

.ma-btn-info {
     @include ma-button-variant(color-contrast($info), $info);
}

.ma-btn-warning {
     @include ma-button-variant(color-contrast($warning), $warning);
}

.ma-btn-danger {
     @include ma-button-variant(color-contrast($danger), $danger);
}

.ma-btn-femme {
    @include ma-button-variant(color-contrast($femme), $femme);
}

.ma-btn-homme {
    @include ma-button-variant(color-contrast($homme), $homme);
}
