.nav-menu {
    .nav-link {
        border-bottom: 1px solid #443c32;
        font-size: 20px;
        color: $white;

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: $primary;
        }
    }

    & > .active > .nav-link {
        color: $primary;
    }
}
